<?xml version="1.0" encoding="UTF-8"?> 

<IMPORTPARAMS RETAIN_GENERATED_VALUE='YES'>
#foreach( $folder in $bean.folders )
    <FOLDERMAP SOURCEFOLDERNAME='$folder' SOURCEREPOSITORYNAME='svn_pc_repo' TARGETFOLDERNAME='${bean.prepareTargetFolderName($folder)}' TARGETREPOSITORYNAME='${bean.informaticaRepositoryName}' />
#end

	<RESOLVECONFLICT>
		<TYPEOBJECT OBJECTTYPENAME="Abort" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Advanced External Procedure" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Aggregator" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="App Multi-Group Source Qualifier" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Application Source Qualifier" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Application" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Assignment" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Batch" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Business Component Framework" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Business Component" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Command" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Control" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Cube" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Custom Transformation" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Database Object" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Decision" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Deployed Deployment Group" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Deployment Group" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Dimension" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Email" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Event Raise" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Event Wait" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Expression" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="External Loader" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="External Procedure" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Fact Table" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="File Object" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Filter" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Folder Version" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Folder" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="FTP Object" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="FTP" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="General Object" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Global Profile Resource" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Hierarchy" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Informix External Loader Object" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Input Transformation" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Joiner" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Label" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Level" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Lookup Extension" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Lookup Procedure" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Mapping" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Mapplet" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Merger" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="MQ Connection Object" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="MQ Source Qualifier" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Normalizer" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Oracle External Loader Object" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Output Transformation" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Pivot" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Procedure" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Profiling Ruleset" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Query" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Queue" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Rank" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Reader" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Relational" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Repository" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Router" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="SAP Function" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="SAP Structure" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Scheduler" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Sequence" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Server Grid" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Server Object" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Service Level" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Session Obsolete" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Session" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="SessionConfig" RESOLUTION="REUSE"/>
		<TYPEOBJECT OBJECTTYPENAME="Shortcut" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Sorter" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Source Definition" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Source Qualifier" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Star Schema" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Start" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Stop" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Stored Procedure" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Sybase IQ 12 External Loader Object" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Sybase IQ External Loader Object" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Target Definition" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Template Extension" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Tera Data External Loader Object" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Timer" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Transaction Control" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Update Strategy" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="User Defined Function" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Vendor" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Web Services Hub" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Workflow" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Worklet" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="Writer" RESOLUTION="REPLACE"/>
		<TYPEOBJECT OBJECTTYPENAME="XML Source Qualifier" RESOLUTION="REPLACE"/>
	</RESOLVECONFLICT>
</IMPORTPARAMS>